$button-font-color-light: white;
$button-font-color-dark: #8a716a;
$button-background-color-primary: #00a669;
$button-background-color-muted: #d8d8d8;
$button-border-radius: 3px;
$button-font-weight: 500;
